.modal {
    display: block;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-center {
    /* background-color: #4287f5; */
    /* background-color: #fff; */
    background-color: none;
    color: white;
    /* display: flex; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 120px);
    left: calc(50% - 100px);
}

/* .modal-center img { */
/*     top: calc(50% + 230px); */
/*     left: calc(50% - 100px); */
/*     height: 150px; */
/*     width: 150px; */
/* } */

.modal-center p {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 35px;
}
