@import './rootParams.module.css';

/* ###################################################################### */
/* ############################# Containers ############################# */
/* ###################################################################### */
.flexContainer,
.flexContainerLogin {
    --padding-top: 6rem;
    --padding-sides: 3rem;
    --padding-bottom: 5rem;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-right: var(--padding-sides);
    padding-left: var(--padding-sides);
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100vh - calc(var(--padding-top) + var(--padding-bottom)));
    background-color: var(--bgLight);
}
.flexContainerLogin {
    background-color: var(--bgMid);
}

/* ################################################################### */
/* ############################# Buttons ############################# */
/* ################################################################### */

.btnGreen,
.btnBlue,
.btnYellow,
.btnRed {
    transition: var(--transitionDuration);
    padding: var(--button-padding);
    font-size: 100%;
    font-family: inherit;
    border: 0;
    border-radius: var(--button-radius);
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.btnYellow {
    background-color: gold;
}
.btnYellow:hover {
    color: gold;
}

.btnBlue {
    background-color: var(--blue);
}

.btnGreen {
    background-color: green;
}

.btnRed {
    background-color: var(--nextRed) !important;
}
.btnRed:hover {
    color: black;
}
